<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Stats</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@sgratzl/chartjs-chart-errorbars"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #0ec3d3;
            padding: 3rem;
            text-align: center;
        }
        header nav a {
            color: white;
            margin: 0 20px;
            font-size: 30px;
            text-decoration: none;
        }
        footer {
            background-color: #0ec3d3;
            color: white;
            text-align: center;
            padding: 0.5rem;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .chart-container {
            margin: 0 auto;
            max-width: 80%;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="#distanceChart">Query1</a>
            <a href="#dateChart">Query2</a>
            <a href="#weatherChart">Query3</a>
            <a href="#deliverycityChart">Query4</a>
            <a href="#FtypeChart">Query5</a>
            <a href="#ageChart">Query6</a>
            <a href="#allStatsChart">Query7</a>
            <a href="#dateCuisineChart">Query8</a>
            <a href="#highestPriceNeighborhoodChart">Query9</a>
        </nav>
    </header>
    <main>
        <h1>Visualization of Delivery Data</h1>

        <div class="chart-container">
            <h2>1. Statistics on delivery volume by distance in residential areas</h2>
            <canvas id="distanceChart"></canvas>
        </div>

        <div class="chart-container">
            <h2>2. Statistics on delivery amounts by date (monthly, weekly) in residential areas</h2>
            <canvas id="dateChart"></canvas>
        </div>

        <div class="chart-container">
            <h2>3. Statistics on delivery volume by weather in residential areas</h2>
            <canvas id="weatherChart"></canvas>
        </div>

        <div class="chart-container">
            <h2>4. 주거지역별 배달 품목 통계
            <canvas id="deliverycityChart"></canvas>
        </div>

        <div class="chart-container">
            <h2>5. 가구별 배달품목 및 통계
            <canvas id="FtypeChart"></canvas>
        </div>

        <div class="chart-container">
            <h2>6.연령대별 배달 음식 품목 통계
            <canvas id="ageChart"></canvas>
        </div>

        <div class="chart-container">
            <h2>7. 배달음식 품목별 순위 통계</h2>
            <canvas id="allStatsChart"></canvas>
        </div>

        <div class="chart-container">
            <h2>8. 2020년 7월 기준 각 "도"들의 Cuisine 별 배달량 통계</h2>
            <canvas id="dateCuisineChart"></canvas>
        </div>

        <div class="chart-container">
            <h2>9. 배달 평균 금액이 큰 동네 TOP3 통계 </h2>
            <canvas id="highestPriceNeighborhoodChart"></canvas>
        </div>
    </main>

    <script>
        // Distance Chart
        var ctx = document.getElementById('distanceChart').getContext('2d');
        var distanceData = {{ distance_stats | tojson }};
        var distanceLabels = distanceData.map(function(d) { return d._id; });
        var distanceCounts = distanceData.map(function(d) { return d.count; });
        var distanceChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: distanceLabels,
                datasets: [{
                    label: 'Delivery Volume',
                    data: distanceCounts
                }]
            }
        });

        // Date Chart
        var ctx = document.getElementById('dateChart').getContext('2d');
        var dateData = {{ date_stats | tojson }};
        var dateLabels = dateData.map(function(d) { return d._id.month; });
        var dateCounts = dateData.map(function(d) { return d.total_amount; });
        var dateChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dateLabels,
                datasets: [{
                    label: 'Delivery Amount',
                    data: dateCounts
                }]
            }
        });

        // Weather Chart
        var ctx = document.getElementById('weatherChart').getContext('2d');
        var weatherData = {{ weather_stats | tojson }};
        var weatherLabels = weatherData.map(function(d) { return d._id; });
        var weatherCounts = weatherData.map(function(d) { return d.count; });
        var weatherChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: weatherLabels,
                datasets: [{
                    label: 'Delivery Volume',
                    data: weatherCounts
                }]
            }
        });

        // 4.주거 지역별 배달 음식 품목 통계
        var ctx = document.getElementById('deliverycityChart').getContext('2d');
        var deliveryCityData = {{ delivery_city_stats | tojson }};
        var deliveryCityLabels = deliveryCityData.map(function(d) { return d._id.City + " - " + d._id.Cuisine; });
        var deliveryCityCounts = deliveryCityData.map(function(d) { return d.total_orders; });
        var deliveryCityChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: deliveryCityLabels,
                datasets: [{
                    label: 'count',
                    data: deliveryCityCounts
                }]
            },
            options: {
                legend: { position: 'left'}
            }
        });

        //5.가구별 배달품목 및 금액통계  // 차트 안뜸 수정하기
        var ctx = document.getElementById('FtypeChart').getContext('2d');
        var FtypesData = {{ Ftypes_cuisine_stats | tojson }};
        var labels = [];
        var avgPrices = [];
        var minPrices = [];
        var maxPrices = [];


        FtypesData.forEach(cuisine => {
            cuisine.top_3_ftypes.forEach(ftype => {
            labels.push(`${cuisine._id}-${ftype.FType}`);
            avgPrices.push(ftype.average_price);
            minPrices.push(ftype.min_price);
            maxPrices.push(ftype.max_price);
            });
        });

    // Create the bar chart
    var top3FtypeChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Average Price',
                data: avgPrices,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                borderWidth: 1
            },
            {
                label: 'Minimum Price',
                data: minPrices,
                backgroundColor: 'rgba(255, 159, 64, 0.2)',
                borderColor: 'rgb(255, 159, 64)',
                borderWidth: 1
            },
            {
                label: 'Maximum Price',
                data: maxPrices,
                backgroundColor: 'rgba(255, 205, 86, 0.2)',
                borderColor: 'rgb(255, 205, 86)',
                borderWidth: 1
            },
            
        ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Price'
                    }
                }
            }
        }
    });

        // 6. 연령대별 배달 음식 품목 통계
        var ctx = document.getElementById('ageChart').getContext('2d');
        var ageData = {{ age_stats | tojson }};
        var ageLabels = ageData.map(function(d) { return d._id; });
        var ageCounts = ageData.map(function(d) { return d.total_orders; });
        var ageChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ageLabels,
                datasets: [{
                    label: 'count',
                    data: ageCounts
                }]
            },
            options: {
                legend: { position: 'left'}
            }
        });

        


       // 7. 전체 기간의 (전 지역, 전 기간의) 주문된 배달음식 품목 순위
       var ctx = document.getElementById('allStatsChart').getContext('2d');
        var allCuisineData = {{ all_stats | tojson }};
        var allCuisineLabels = allCuisineData.map(function(d) { return d._id; });
        var allCuisineOrders = allCuisineData.map(function(d) { return d.total_orders; });
        var allCuisineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: allCuisineLabels,
                datasets: [{
                    label: 'Total Orders',
                    data: allCuisineOrders,
                    backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 205, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(153, 102, 255, 0.2)'],
                    borderColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                                'rgb(255, 205, 86)',
                                'rgb(75, 192, 192)',
                                'rgb(54, 162, 235)',
                                'rgb(153, 102, 255)'],
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 100
                        }
                    }
                }
            }
        });  


        // 8. 2020년 7월 기준 각 "도"들의 Cuisine 통계 ("시" 제외)
        var data = {{ date_cuisine | tojson | safe }};
        var cuisines = data.map(function(item) {
            return item._id.Province + ', ' + item._id.City + ', ' + item._id.Cuisine;});
        var orders = data.map(function(item) {
            return item.total_orders;});
        var ctx = document.getElementById('dateCuisineChart').getContext('2d');
        var dateCuisineChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: cuisines,
                datasets: [{
                    label: 'Total Orders',
                    data: orders,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    r: {
                        beginAtZero: true
                    }
                }
            }
        });
 

        // 9. 배달 평균 금액이 큰 동네 TOP3 통계
        var highestPriceData = {{ highest_price_neighborhoods|safe }};
        
        var neighborhoods = highestPriceData.map(function(d) {
            return d._id.City + ', ' + d._id.Neighborhood;});
        var avgPrices = highestPriceData.map(function(d) {
            return d.avg_price;});
        var ctx = document.getElementById('highestPriceNeighborhoodChart').getContext('2d');
        var highestPriceChart = new Chart(ctx, { 
            type: 'bar',
            data: {
                labels: neighborhoods,
                datasets: [{
                    label: 'Average Price',
                    data: avgPrices,
                    backgroundColor: [
                        'rgba(255, 205, 86, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 205, 86)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        });
    


    </script>
</body>
<!-- <footer>
    <p>&copy; 빅데이터시스템설계 7조 </p>
</footer> -->
</html>