<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Stats</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Visualization of Delivery Data</h1>

    <h2>1. Statistics on delivery volume by distance in residential areas</h2>
    <canvas id="distanceChart"></canvas>

    <h2>2. Statistics on delivery amounts by date (monthly, weekly) in residential areas</h2>
    <canvas id="dateChart"></canvas>

    <h2>3. Statistics on delivery volume by weather in residential areas</h2>
    <canvas id="weatherChart"></canvas>

    <h2>7. Statistics on food for the entire region and the entire period</h2>
    <canvas id="allStatsChart"></canvas>

    <h2>8. Statistics on which Cuisine was delivered a lot by daily</h2>
    <canvas id="dateCuisineChart"></canvas>

    <h2>9. Local top3 statistics with high monthly deliveries by regions</h2>
    <canvas id="allMonthsChart"></canvas>

    <script>
        // Distance Chart
        var ctx = document.getElementById('distanceChart').getContext('2d');
        var distanceData = {{ distance_stats | tojson }};
        var distanceLabels = distanceData.map(function(d) { return d._id; });
        var distanceCounts = distanceData.map(function(d) { return d.count; });
        var distanceChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: distanceLabels,
                datasets: [{
                    label: 'Delivery Volume',
                    data: distanceCounts
                }]
            }
        });

        // Date Chart
        var ctx = document.getElementById('dateChart').getContext('2d');
        var dateData = {{ date_stats | tojson }};
        var dateLabels = dateData.map(function(d) { return d._id.month; });
        var dateCounts = dateData.map(function(d) { return d.total_amount; });
        var dateChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dateLabels,
                datasets: [{
                    label: 'Delivery Amount',
                    data: dateCounts
                }]
            }
        });

        // Weather Chart
        var ctx = document.getElementById('weatherChart').getContext('2d');
        var weatherData = {{ weather_stats | tojson }};
        var weatherLabels = weatherData.map(function(d) { return d._id; });
        var weatherCounts = weatherData.map(function(d) { return d.count; });
        var weatherChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: weatherLabels,
                datasets: [{
                    label: 'Delivery Volume',
                    data: weatherCounts
                }]
            }
        });

        // 7. 전체 기간의 (전 지역, 전 기간의) 주문된 배달음식 품목 순위
        var ctx = document.getElementById('allStatsChart').getContext('2d');
        var allCuisineData = {{ all_stats | tojson }};
        var allCuisineLabels = allCuisineData.map(function(d) { return d._id; });
        var allCuisineOrders = allCuisineData.map(function(d) { return d.total_orders; });
        var allCuisineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: allCuisineLabels,
                datasets: [{
                    label: 'Total Orders',
                    data: allCuisineOrders,
                    backgroundColor: 'rgba(255, 205, 86, 0.2)',
                    borderColor: 'rgb(255, 205, 86)',
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1000
                        }
                    }
                }
            }
        });



        // 8. 요일별로 어떤 Cuisine이 많이 배달되었는지 통계
        var ctx2 = document.getElementById('dateCuisineChart').getContext('2d');
        var dayOfWeekCuisineData = {{ date_cuisine | tojson }};
        var dayOfWeekLabels = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

        // 각 요일에 대해 두 개의 음식을 다른 색상으로 표시
        var cuisine1Data = dayOfWeekCuisineData.map(function(d) { return d.top_cuisine[0].total_orders; });
        var cuisine2Data = dayOfWeekCuisineData.map(function(d) { return d.top_cuisine[1].total_orders; });
        var cuisine1Labels = dayOfWeekCuisineData.map(function(d) { return d.top_cuisine[0].Cuisine; });
        var cuisine2Labels = dayOfWeekCuisineData.map(function(d) { return d.top_cuisine[1].Cuisine; });

        var dayOfWeekCuisineChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: dayOfWeekLabels,
                datasets: [
                    {
                        label: 'Top Cuisine 1',
                        data: cuisine1Data,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgb(54, 162, 235)',
                        borderWidth: 1,
                        barThickness: 'flex'
                    },
                    {
                        label: 'Top Cuisine 2',
                        data: cuisine2Data,
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        borderColor: 'rgb(153, 102, 255)',
                        borderWidth: 1,
                        barThickness: 'flex'
                    }
                ]
            },
            options: {
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                var index = context.dataIndex;
                                if (context.datasetIndex === 0) {
                                    return cuisine1Labels[index] + ': ' + context.raw;
                                } else {
                                    return cuisine2Labels[index] + ': ' + context.raw;
                                }
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // 9. 지역별 상위 5개 지역의 월간 주문량 통계
        // var ctx = document.getElementById('allMonthsChart').getContext('2d');
        // var allMonthsData = {{ all_months | tojson }};
        // var allMonthsLabels = allMonthsData.map(function(d) { return d._id; });
        // var allMonthsOrders = allMonthsData.map(function(d) { return d.total_orders; });

        // var allMonthsChart = new Chart(ctx, {
        //     type: 'bar',
        //     data: {
        //         labels: allMonthsLabels,
        //         datasets: [{
        //             label: 'Total Orders',
        //             data: allMonthsOrders,
        //             backgroundColor: 'rgba(255, 205, 86, 0.2)',
        //             borderColor: 'rgb(255, 205, 86)',
        //             borderWidth: 1
        //         }]
        //     },
        //     options: {
        //         scales: {
        //             y: {
        //                 beginAtZero: true,
        //                 ticks: {
        //                     stepSize: 100
        //                 }
        //             }
        //         }
        //     }
        // });

        // 9. 지역별 상위 3개 지역의 월간 주문량 통계
        var ctx = document.getElementById('allMonthsChart').getContext('2d');
        var allMonthsData = {{ all_months | tojson }};
        var allMonthsLabels = allMonthsData.map(function(d) { return d._id; });
        var allMonthsOrders = allMonthsData.map(function(d) { return d.total_orders; });

        var allMonthsChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: allMonthsLabels,
                datasets: [{
                    label: 'Total Orders',
                    data: allMonthsOrders,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 205, 86, 0.6)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 205, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });



</script>
</body>
</html>
